// Kolejność parametrów nie ma znaczenia
WymagajSposobuDostawy = 7 // 1:ZK, 2:WZ, 4:DS, wartości można sumować, określa na których typach dokumentów sposób dostawy ma być wymagany
SprawdzajWymagalnoscSamochoduDostawczego = 7 // j.w. określa na których typach dokumentów odbywa się sprawdzanie wymagalności określenia samochodu dostawczego
PrzepisujSamochodDostawczyPrzyRealizacji = 7 // 1:Zk->Wz, 2:Zk->Ds, 4:Wz->Ds, wartości można sumować, określa dla jakiego typu realizacji samochód dostawczy ma być przepisywany
AutomatycznieUstawiajSamochodDostawczy = 7 // 1:ZK, 2:WZ, 4:DS, wartości można sumować, określa dla jakiego typu dokumentu ma być wykonywane automatyczne ustawianie samochodu dostawczego
RezerwujSamochodDostawczy = 6 // j.w., określa jaki typ dokumentu ma automatycznie rezerwować samochód dostawczy po zapisie
SprawdzajOplacalnoscTransportuFirmowego = 3 // j.w., określa na jakich typach dokumentów należy sprawdzać opłacalność transportu firmowego
MinimalnaKwotaDlaTransportuFirmowego = 1000 // tylko liczby całkowite, PLN
MinimalnaMasaDlaTransportuFirmowego = 2500 // tylko liczby całkowite, kg