<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NexoImporterFakturXML.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Nexo_Import_XML.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup />
  <userSettings>
    <NexoImporterFakturXML.Properties.Settings>
      <setting name="serwer" serializeAs="String">
        <value>localhost\INSERTNEXO</value>
      </setting>
      <setting name="sqluser" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="sqlpass" serializeAs="String">
        <value />
      </setting>
      <setting name="podmiot" serializeAs="String">
        <value />
      </setting>
      <setting name="autentykacja" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="nip" serializeAs="String">
        <value>demo</value>
      </setting>
      <setting name="klucz" serializeAs="String">
        <value>demo</value>
      </setting>
      <setting name="login" serializeAs="String">
        <value />
      </setting>
      <setting name="wybranyIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="dostosowano" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="wybranyIndexTypDok" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="dostosowano_DoWersji" serializeAs="String">
        <value />
      </setting>
      <setting name="wybranyIndexRozpTw" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="wybranyIndexGdyBrakTw" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="serwery" serializeAs="String">
        <value>localhost\INSERTNEXO</value>
      </setting>
      <setting name="sqlusery" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="sqlpassy" serializeAs="String">
        <value />
      </setting>
      <setting name="podmioty" serializeAs="String">
        <value />
      </setting>
      <setting name="autentykacje" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="nipy" serializeAs="String">
        <value>demo</value>
      </setting>
      <setting name="klucze" serializeAs="String">
        <value>demo</value>
      </setting>
      <setting name="loginy" serializeAs="String">
        <value />
      </setting>
      <setting name="wybranyIndexRozpKh" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="wybranyIndexRodzajAsor" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="wybranyMag" serializeAs="String">
        <value />
      </setting>
      <setting name="wybranyOddzial" serializeAs="String">
        <value />
      </setting>
      <setting name="liczOdNetto" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="wybranyIndexSkutekMag" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ignorujJm" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UI_AutoOperFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="UI_AutoOperInterwal" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="UI_AutoOperUsuwajPliki" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UI_KhAktualizuj" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UI_StatusSp" serializeAs="String">
        <value>Automatyczny</value>
      </setting>
      <setting name="UI_StatusZak" serializeAs="String">
        <value>Automatyczny</value>
      </setting>
      <setting name="UI_StatusZk" serializeAs="String">
        <value>Automatyczny</value>
      </setting>
      <setting name="UI_DokIgnorujFormePlatnosci" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UI_DokWymusTyp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UI_KhUstaw" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UI_KhSymbol" serializeAs="String">
        <value>Podaj NIP lub Symbol</value>
      </setting>
      <setting name="UI_MagWymus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UI_IgnorujNumerDok" serializeAs="String">
        <value>False</value>
      </setting>
    </NexoImporterFakturXML.Properties.Settings>
    <Nexo_Import_XML.Properties.Settings>
      <setting name="serwer" serializeAs="String">
        <value>localhost\INSERTNEXO</value>
      </setting>
      <setting name="sqluser" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="sqlpass" serializeAs="String">
        <value />
      </setting>
      <setting name="podmiot" serializeAs="String">
        <value />
      </setting>
      <setting name="autentykacja" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="nip" serializeAs="String">
        <value>demo</value>
      </setting>
      <setting name="klucz" serializeAs="String">
        <value>demo</value>
      </setting>
      <setting name="klucze" serializeAs="String">
        <value>demo</value>
      </setting>
      <setting name="login" serializeAs="String">
        <value />
      </setting>
      <setting name="wybranyIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="dostosowano" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="wybranyIndexTypDok" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="dostosowano_DoWersji" serializeAs="String">
        <value />
      </setting>
      <setting name="wybranyIndexRozpTw" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="wybranyIndexMag" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="wybranyIndexGdyBrakTw" serializeAs="String">
        <value>0</value>
      </setting>
    </Nexo_Import_XML.Properties.Settings>
  </userSettings>
</configuration>