<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss} ${message} (${logger})"/>
      <target name="file" xsi:type="File" fileName="${specialfolder:folder=LocalApplicationData}/Insert/Logs/NexoLog.txt">
        <layout xsi:type="CsvLayout" delimiter="Tab" withHeader="false">
          <column name="timestamp" layout="${date:format=dd-MM-yy HH\:mm\:ss}" />
          <column name="process" layout="${processid}"/>
          <column name="message" layout="${message}" />
        </layout>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="console" />
      <logger name="*" minlevel="Info" writeTo="file" />
    </rules>
  </nlog>
</configuration>