<#@ template language="C#" #>
<#@ import namespace="System.Data" #>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"> 
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-16">
    <meta http-equiv="Content-Language" content="pl">
    <title>Podgląd</title>
    <style>
<#@ include file="PodgladDokumentu.css" #>
    </style>
  </head>
  <body>
    <table id="insertgt">
      <tr>
        <td>
          <table class="firmy">
            <colgroup>
              <col width="47%">
              <col width="6%">
              <col width="47%">
            </colgroup>
            <tr>
              <td>
                <table cellspacing="0" class="daty">
                  <tr>
                    <td class="opis">Miejsce wystawienia:</td>
                    <td><#=_naglowek["MiejsceWystawienia"] #></td>
                  </tr>
<!--                  <tr>
                    <td class="opis">Data magazynowa:</td>
                    <td><#=Formatuj(_naglowek["DataZakonczeniaDostawy"]) #></td>
                  </tr>-->
				  <# string dataZakonczeniaDostawy = Formatuj(_naglowek["DataZakonczeniaDostawy"]); 
				  if (!string.IsNullOrWhiteSpace(dataZakonczeniaDostawy)) { #>
                  <tr>
                    <td class="opis">Data zakończenia dostawy:</td>
                    <td><#=dataZakonczeniaDostawy #></td>
                  </tr>
				  <# } #>
                  <tr>
                    <td class="opis"><#=_dataEtykieta #>:</td>
                    <td><#=Formatuj(_naglowek["DataWystawienia"]) #></td>
                  </tr>
                </table>
              </td>
              <td><br></td>
			  <# if (_nabywca) { #>
              <td class="firma">
                <div class="opis"><#=_firmaEtykieta #></div>
                <div><#=_nabywcaNazwa #></div>
                <div><#=_naglowek["Nabywca_Adres1"] #></div>
                <div><#=_naglowek["Nabywca_Adres2"] #></div>
                <div>NIP: <#=_naglowek["Nabywca_NIP"] #></div>
              </td>
			  <# } #>
            </tr>
          </table>
          <h1><#=_naglowek["Tytul"] #> <#=_naglowek["NumerWewnetrzny_PelnaSygnatura"] #></h1>
		  <# if (_korekta || _zwrot) { #>
		  <h2>do dokumentu <#=_naglowek["NumerKorygowanego"] #> z dnia <#=Formatuj(_naglowek["DataKorygowanego"]) #></h2>
		  <# } else if (_zakupowy && !(_naglowek["NumerZewnetrzny"] is System.DBNull) && !string.IsNullOrEmpty((string)_naglowek["NumerZewnetrzny"])) { #>
		  <h3>Numer dokumentu dostawcy: <#=_naglowek["NumerZewnetrzny"] #>
		  <# if (_naglowek.Table.Columns.Contains("DataOryginalu") && !(_naglowek["DataOryginalu"] is System.DBNull)) { #>
		  z dnia <#=Formatuj(_naglowek["DataOryginalu"]) #><# } #>
		  </h3>
		  <# } else { #>
          <h2><#=_naglowek["Podtytul"] #></h2>
		  <# } #>
		  <# if (_naglowek.Table.Columns.Contains("PowstalZHandlowego") && (bool)_naglowek["PowstalZHandlowego"]) { #>
		  <h2>do dokumentu <#=Formatuj(_naglowek["NumerPowiazanego"]) #> z dnia <#=Formatuj(_naglowek["DataWystawieniaPowiazanego"]) #></h2>
		  <# } #>
          <table class="zawartosc" cellspacing="0px">
            <tr>
              <th>Lp</th>
              <th>Nazwa</th>
              <th>PKWiU</th>
              <th>Ilość</th>
              <th>j.m.</th>
              <th>Rabat [%]</th>
              <th>Cena netto</th>
              <th>VAT [%]</th>
              <th>Wartość netto</th>
              <th>VAT</th>
              <th>Wartość brutto</th>
			  <# if (_korekta) { #>
			  <th>Przyczyna korekty</th>
			  <# } #>
            </tr>
			<# int i = 1; foreach (DataRow poz in _pozycje) { #>
            <tr <# if (i++%2 == 0) { #>class="parzysty"<# } #>>
              <# if (_korekta) { #>
              <td class="center"><#=poz["LP"]#>.</td>
              <td class="left"><#=poz["Nazwa"] #><br>Korekta:<br>Po korekcie:</td>
              <td><#=poz["PKWiU"]#>&nbsp;</td>
              <td><span style="white-space: nowrap">
			  <#=Formatuj(poz["IloscPrzedKorekta"], poz["PrecyzjaPrzedKorekta"])#><br><#=Formatuj(poz["IloscKorekta"], poz["PrecyzjaKorekta"])#><br><#=Formatuj(poz["IloscPoKorekcie"], poz["PrecyzjaPoKorekcie"])#>
              </span></td>
              <td class="center"><#=Formatuj(poz["JmPrzedKorekta"])#><br><#=Formatuj(poz["JmKorekta"])#><br><#=Formatuj(poz["JmPoKorekcie"])#></td>
              <td><#=FormatujRabat(poz["RabatProcentPrzedKorekta"])#><br>&nbsp;<br><#=FormatujRabat(poz["RabatProcentPoKorekcie"])#></td>
              <td><span style="white-space: nowrap"><#=Formatuj(poz["CenaPrzedKorekta"])#><br><#=Formatuj(poz["CenaKorekta"])#><br><#=Formatuj(poz["CenaPoKorekcie"])#></span></td>
              <td class="center"><#=Formatuj(poz["VatPrzedKorekta"])#><br>&nbsp;<br><#=Formatuj(poz["VatPoKorekcie"])#></td>
              <td><span style="white-space: nowrap"><#=Formatuj(poz["WartoscNettoPrzedKorekta"])#><br><#=Formatuj(poz["WartoscNettoKorekta"])#><br><#=Formatuj(poz["WartoscNettoPoKorekcie"])#></span></td>
              <td><span style="white-space: nowrap"><#=Formatuj(poz["WartoscVatPrzedKorekta"])#><br><#=Formatuj(poz["WartoscVatKorekta"])#><br><#=Formatuj(poz["WartoscVatPoKorekcie"])#></span></td>
              <td><span style="white-space: nowrap"><#=Formatuj(poz["WartoscBruttoPrzedKorekta"])#><br><#=Formatuj(poz["WartoscBruttoKorekta"])#><br><#=Formatuj(poz["WartoscBruttoPoKorekcie"])#></span></td>
			  <# string przyczyna = Formatuj(poz["PrzyczynaKorekty"]);
			  if (string.IsNullOrWhiteSpace(przyczyna)) { #>
			  <td class="center" style="vertical-align: middle">-</td>
			  <# } else { #>
			  <td class="left"><#=przyczyna #></td>
			  <# } //if isnullorempty #>
              <# } else { #>
              <td class="center"><#=poz["LP"]#>.</td>
              <td class="left"><#=poz["Nazwa"] #></td>
              <td><#=poz["PKWiU"]#>&nbsp;</td>
              <td><span style="white-space: nowrap"><#=Formatuj(poz["Ilosc"], poz["Precyzja"])#></span></td>
              <td class="center"><#=poz["Jm"]#></td>
              <td><#=FormatujRabat(poz["RabatProcent"])#></td>
              <td><span style="white-space: nowrap"><#=Formatuj(poz["Cena"])#></span></td>
              <td class="center"><#=poz["Vat"]#></td>
              <td><span style="white-space: nowrap"><#=Formatuj(poz["WartoscNetto"])#></span></td>
              <td><span style="white-space: nowrap"><#=Formatuj(poz["WartoscVat"])#></span></td>
              <td><span style="white-space: nowrap"><#=Formatuj(poz["WartoscBrutto"])#></span></td>
			  <# } #>
            </tr>
			<# } #>
          </table>
          <div class="vat">
            <table class="vat" cellspacing="0px">
              <tr>
                <th>Według stawki VAT</th>
                <th>Wartość netto</th>
                <th>Kwota VAT</th>
                <th>Wartość brutto</th>
              </tr>
              <# i = 1; foreach (DataRow poz in _pozycjeVat) { #>
              <tr <# if (i++%2 == 0) { #>class="parzysty"<# } #>>
                <# if (_korekta) { #>
                <td class="left"><#=poz["Nazwa"]#><br>Korekta:<br>Po korekcie:</td>
                <td><span style="white-space: nowrap"><#=Formatuj(poz["NettoPrzedKorekta"])#><br><#=Formatuj(poz["NettoKorekta"])#><br><#=Formatuj(poz["NettoPoKorekcie"])#></span></td>
                <td><span style="white-space: nowrap"><#=Formatuj(poz["VatPrzedKorekta"])#><br><#=Formatuj(poz["VatKorekta"])#><br><#=Formatuj(poz["VatPoKorekcie"])#></span></td>
                <td><span style="white-space: nowrap"><#=Formatuj(poz["BruttoPrzedKorekta"])#><br><#=Formatuj(poz["BruttoKorekta"])#><br><#=Formatuj(poz["BruttoPoKorekcie"])#></span></td>
                <# } else { #>
                <td class="left"><#=poz["Nazwa"]#></td>
                <td><span style="white-space: nowrap"><#=Formatuj(poz["WartoscNetto"])#></span></td>
                <td><span style="white-space: nowrap"><#=Formatuj(poz["WartoscVat"])#></span></td>
                <td><span style="white-space: nowrap"><#=Formatuj(poz["WartoscBrutto"])#></span></td>
                <# } #>
              </tr>
			  <# } //for each #>
              <tr>
			  <# if (_korekta) { #>
                <td>Razem przed korektą:<br>Razem korekta:<br>Razem po korekcie:</td>
                <td><span style="white-space: nowrap"><#=Formatuj(_naglowek["NettoPrzedKorekta"])#><br><#=Formatuj(_naglowek["Wartosc_NettoPoRabacie"])#><br><#=Formatuj(_naglowek["NettoPoKorekcie"])#></span></td>
                <td><span style="white-space: nowrap"><#=Formatuj(_naglowek["VatPrzedKorekta"])#><br><#=Formatuj(_naglowek["Wartosc_VatPoRabacie"])#><br><#=Formatuj(_naglowek["VatPoKorekcie"])#></span></td>
                <td><span style="white-space: nowrap"><#=Formatuj(_naglowek["BruttoPrzedKorekta"])#><br><#=Formatuj(_naglowek["Wartosc_BruttoPoRabacie"])#><br><#=Formatuj(_naglowek["BruttoPoKorekcie"])#></span></td>
			  <# } else { #>
                <td>Razem:</td>
                <td><span style="white-space: nowrap"><#=Formatuj(_naglowek["Wartosc_NettoPoRabacie"])#></span></td>
                <td><span style="white-space: nowrap"><#=Formatuj(_naglowek["Wartosc_VatPoRabacie"])#></span></td>
                <td><span style="white-space: nowrap"><#=Formatuj(_naglowek["Wartosc_BruttoPoRabacie"])#></span></td>
			  <# } #>
              </tr>
            </table>
          </div>
          <table class="podsumowanie">
            <tr>
              <td class="formy_platnosci">
                <table>
                  <# i = 1; if (_platnosciZaplacono.Count > 0) { #>
                  <tr>
				    <td colspan="2">Zapłacono</td>
                  </tr>
                  <# foreach (DataRow poz in _platnosciZaplacono) { #>
                  <tr <# if (i++%2 == 0) { #>class="parzysty"<# } #>>
                    <td class="left"><#=poz["Nazwa"]#>:</td>
                    <td class="kwota"><span style="white-space: nowrap"><#=Formatuj(poz["KwotaPlatnosci"])#> <#=Formatuj(_naglowek["Waluta"])#></span></td>
                  </tr>
				  <# } } 
				  if (_platnosciPozostalo.Count > 0) { #>
                  <tr>
				    <td colspan="2">Pozostało</td>
                  </tr>
                  <# foreach (DataRow poz in _platnosciPozostalo) { #>
                  <tr <# if (i++%2 == 0) { #>class="parzysty"<# } #>>
                    <td class="left"><#=poz["Nazwa"]#>:</td>
                    <td class="kwota"><span style="white-space: nowrap"><#=Formatuj(poz["KwotaPlatnosci"])#> <#=Formatuj(_naglowek["Waluta"])#></span></td>
                  </tr>
				  <# } } #>
                </table>
              </td>
              <td class="do_zaplaty">
                <table cellspacing="0">
                  <tr class="razem">
                    <# { decimal kwota = (decimal)_naglowek["KwotaDoZaplaty"]; 
					if (kwota < 0m) {#>
					<td class="razem">Razem do zwrotu:</td>
					<# } else { #>
					<td class="razem">Razem do zapłaty:</td>
					<# } #>
                    <td class="razem_kwota"><#=Formatuj(Math.Abs(kwota))#> <#=Formatuj(_naglowek["Waluta"])#></td>
					<# } #>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <table cellspacing="0" class="podpisy">
            <tr>
              <td class="opis">Wystawił(a):</td>
              <td><#=Formatuj(_naglowek["Wystawil"])#></td>
            </tr>
            <tr>
              <td class="opis">Odebrał(a):</td>
              <td><#=Formatuj(_naglowek["Odebral"])#></td>
            </tr>
          </table>
		  <# if (!string.IsNullOrWhiteSpace(Formatuj(_naglowek["Uwagi"]))) { #>
          <table cellspacing="0" class="uwagi">
            <tr>
              <td class="opis">Uwagi:</td>
              <td><#=Formatuj(_naglowek["Uwagi"])#></td>
            </tr>
          </table>
		  <#}#>
        </td>
      </tr>
    </table>
  </body>
</html>